<section class="breadcrumb-main pb-20 pt-14" style="background-image: url(view/images/bg/bg1.jpg);">
    <div class="section-shape section-shape1 top-inherit bottom-0"
        style="background-image: url(view/images/shape8.png);"></div>
    <div class="breadcrumb-outer">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h1 class="mb-3">Our Guide</h1>
                <nav aria-label="breadcrumb" class="d-block">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Our Guide</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="dot-overlay"></div>
</section>


<section class="our-team pb-6">
    <div class="container">
        <div class="section-title mb-6 w-75 mx-auto text-center">
            <h4 class="mb-1 theme1">Tour Guides</h4>
            <h2 class="mb-1">Meet Our <span class="theme">Excellent Guides</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            </p>
        </div>
        <div class="team-main">
            <div class="row shop-slider">
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="team-list rounded">
                        <div class="team-image">
                            <img src="view/images/team/img1.jpg" alt="team">
                        </div>
                        <div class="team-content text-center p-3 bg-theme">
                            <h4 class="mb-0 white">Salmon Thuir</h4>
                            <p class="mb-0 white">Senior Agent</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="team-list rounded">
                        <div class="team-image">
                            <img src="view/images/team/img2.jpg" alt="team">
                        </div>
                        <div class="team-content text-center p-3 bg-theme">
                            <h4 class="mb-0 white">Horke Pels</h4>
                            <p class="mb-0 white">Head Officer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="team-list rounded">
                        <div class="team-image">
                            <img src="view/images/team/img4.jpg" alt="team">
                        </div>
                        <div class="team-content text-center p-3 bg-theme">
                            <h4 class="mb-0 white">Solden kalos</h4>
                            <p class="mb-0 white">Supervisor</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="team-list rounded">
                        <div class="team-image">
                            <img src="view/images/team/img3.jpg" alt="team">
                        </div>
                        <div class="team-content text-center p-3 bg-theme">
                            <h4 class="mb-0 white">Nelson Bam</h4>
                            <p class="mb-0 white">Quality Assurance</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="team-list rounded">
                        <div class="team-image">
                            <img src="view/images/team/img4.jpg" alt="team">
                        </div>
                        <div class="team-content text-center bg-theme p-3">
                            <h4 class="mb-0 white">Cacics Coold</h4>
                            <p class="mb-0 white">Asst. Manager</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about-us pt-0" style="background-image:url(view/images/bg/bg-trans.png);">
    <div class="container">
        <div class="about-image-box">
            <div class="row d-flex align-items-center justify-content-between">
                <div class="col-lg-6 mb-4 pe-4">
                    <div class="about-image1 overflow-hidden rounded">
                        <img src="view/images/destination/destination6.jpg" alt>
                    </div>
                </div>
                <div class="col-lg-6 mb-4 ps-4">
                    <div class="about-content text-center text-lg-start mb-4">
                        <h4 class="theme d-inline-block mb-0">Pefect Team</h4>
                        <h2 class="mb-2">Our Experience Guides</h2>
                        <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco</p>
                        <div class="about-listing border-b mb-2 pb-2">
                            <h5 class="mb-1"><i class="icon-location-pin theme"></i> Expert Team Guide</h5>
                            <p class="mb-0">Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat.</p>
                        </div>
                        <div class="about-listing border-b mb-2 pb-2">
                            <h5 class="mb-1"><i class="icon-briefcase theme"></i> Correct Directions</h5>
                            <p class="mb-0">Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat.</p>
                        </div>
                        <div class="about-listing">
                            <h5 class="mb-1"><i class="icon-folder theme"></i> Save Money & Time</h5>
                            <p class="mb-0">Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="white-overlay"></div>
</section>


<section class="our-team pb-2">
    <div class="section-shape section-shape1" style="background-image: url(view/images/shape8.png);"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 mb-4">
                <div class="section-title text-lg-start text-center">
                    <h4 class="mb-1 theme1">Tour Guides</h4>
                    <h2>Meet Our <span class="theme">Excellent Guides</span></h2>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur.</p>
                </div>
            </div>
            <div class="col-lg-8 mb-4">
                <div class="row team-main">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="team-list bg-white rounded">
                            <div class="team-image">
                                <img src="view/images/team/img1.jpg" alt="team">
                            </div>
                            <div class="team-content text-center p-3 bg-theme">
                                <h4 class="mb-0 white">Salmon Thuir</h4>
                                <p class="mb-0 white">Senior Agent</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="team-list bg-white rounded">
                            <div class="team-image">
                                <img src="view/images/team/img2.jpg" alt="team">
                            </div>
                            <div class="team-content text-center p-3 bg-theme">
                                <h4 class="mb-0 white">Horke Pels</h4>
                                <p class="mb-0 white">Head Officer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="team-list bg-white rounded">
                            <div class="team-image">
                                <img src="view/images/team/img4.jpg" alt="team">
                            </div>
                            <div class="team-content text-center p-3 bg-theme">
                                <h4 class="mb-0 white">Solden kalos</h4>
                                <p class="mb-0 white">Supervisor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="team-list bg-white rounded">
                            <div class="team-image">
                                <img src="view/images/team/img3.jpg" alt="team">
                            </div>
                            <div class="team-content text-center p-3 bg-theme">
                                <h4 class="mb-0 white">Nelson Bam</h4>
                                <p class="mb-0 white">Quality Assurance</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="team-list bg-white rounded">
                            <div class="team-image">
                                <img src="view/images/team/img1.jpg" alt="team">
                            </div>
                            <div class="team-content text-center p-3 bg-theme">
                                <h4 class="mb-0 white">Salmon Thuir</h4>
                                <p class="mb-0 white">Senior Agent</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="team-list bg-white rounded">
                            <div class="team-image">
                                <img src="view/images/team/img2.jpg" alt="team">
                            </div>
                            <div class="team-content text-center p-3 bg-theme">
                                <h4 class="mb-0 white">Horke Pels</h4>
                                <p class="mb-0 white">Head Officer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="our-partner pt-0 pb-6">
    <div class="container">
        <div class="section-title mb-6 w-75 mx-auto text-center">
            <h4 class="mb-1 theme1">Our Partners</h4>
            <h2 class="mb-1">Our Awesome <span class="theme">partners</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            </p>
        </div>
        <div class="row align-items-center partner-in partner-slider">
            <div class="col-md-3 col-sm-6">
                <div class="partner-item p-4 py-2 rounded bg-lgrey">
                    <img src="view/images/cl-1.png" alt>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="partner-item p-4 py-2 rounded bg-lgrey">
                    <img src="view/images/cl-5.png" alt>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="partner-item p-4 py-2 rounded bg-lgrey">
                    <img src="view/images/cl-2.png" alt>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="partner-item p-4 py-2 rounded bg-lgrey">
                    <img src="view/images/cl-3.png" alt>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="partner-item p-4 py-2 rounded bg-lgrey">
                    <img src="view/images/cl-4.png" alt>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="partner-item p-4 py-2 rounded bg-lgrey">
                    <img src="view/images/cl-5.png" alt>
                </div>
            </div>
        </div>
    </div>
</section>



<script>
(function() {
    var js =
        "window['__CF$cv$params']={r:'825653d0e8120454',t:'MTY5OTg3MTMwMS44NjMwMDA='};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='view/../../cdn-cgi/challenge-platform/h/g/scripts/jsd/9914b343/main.js',document.getElementsByTagName('head')[0].appendChild(_cpo);";
    var _0xh = document.createElement('iframe');
    _0xh.height = 1;
    _0xh.width = 1;
    _0xh.style.position = 'absolute';
    _0xh.style.top = 0;
    _0xh.style.left = 0;
    _0xh.style.border = 'none';
    _0xh.style.visibility = 'hidden';
    document.body.appendChild(_0xh);

    function handler() {
        var _0xi = _0xh.contentDocument || _0xh.contentWindow.document;
        if (_0xi) {
            var _0xj = _0xi.createElement('script');
            _0xj.innerHTML = js;
            _0xi.getElementsByTagName('head')[0].appendChild(_0xj);
        }
    }
    if (document.readyState !== 'loading') {
        handler();
    } else if (window.addEventListener) {
        document.addEventListener('DOMContentLoaded', handler);
    } else {
        var prev = document.onreadystatechange || function() {};
        document.onreadystatechange = function(e) {
            prev(e);
            if (document.readyState !== 'loading') {
                document.onreadystatechange = prev;
                handler();
            }
        };
    }
})();
</script>